@charset "UTF-8";

body {
	text-align: center;
	background-size: 100%;
}

* {
	outline: none;
}

a {
	text-decoration: none;
}

#page-div {
	
}

.index-btn {
	display: inline-block;
	margin-right: 10px;
	margin-top: 15px;
	font-family: 楷体;
	font-size: 15px;
	border: none;
	border-radius: 15px;
	color: black;
	padding: 7px 15px;
	transition-duration: 0.5s;
	float: right;
}

.login-btn {
	display: inline-block;
	font-family: 楷体;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	color: black;
	padding: 8px 15px;
	transition-duration: 0.5s;
}

.index-btn:hover {
	background-color: red;
	color: white;
	cursor: pointer;
}

.login-btn:hover {
	background-color: green;
	color: white;
	cursor: pointer;
}

#index-iframe {
	text-align: center;
	background-image: url("images/背景.jpg");
	width: 1151px;
	height: 1300px;
}

#top-nav {
	margin: auto 0;
	margin-top: -8px;
	background-image: url("images/光年.jpg");
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	top: 0;
	margin-left: 192px;
	width: 1150px;
	height: 80px;
	float: right;
}

#left-nav {
	background-image: url("images/光藏星空.jpg");
	margin: auto 0;
	position: fixed;
	margin-top: -8px;
	width: 200px;
	height: 800px;
	float: left;
	top: 0;
	margin-left: -8px;
}

#top-menu {
	text-align: center;
	margin-top: 10px;
}

#top-menu-ul {
	margin-left: 430px;
	background-color: gray;
	margin-top: 50px;
	list-style-type: none;
	text-align: center;
}

.list {
	background-color: gray;
	float: left;
	margin-left: 10px;
	float: left;
}

#bottom-nav {
	margin-left: 192px;
	background-color: gray;
	opacity: 0.7;
	width: 1148px;
	height: 50px;
	float: left;
	text-align: center;
}

#page-content {
	margin-top: 72px;
	margin-left: 190px;
}

#login-div {
	margin: 0 auto;
	text-align: center;
	width: 400px;
	height: 400px;
	background-color: blue;
	width: 400px;
}

#teardiv {
	margin-left: -20px;
	width: 1162px;
	height: 150px;
	text-align: center;
}

#login-table {
	margin: 0 auto;
	background-color: gray;
	font-family: 楷体;
}

.M-type {
	margin: 20px 60px;
	width: 400px;
	height: 350px;
	float: left;
	text-align: left;
	border: 3px solid;
	border-color: black;
}

.M-type-ul {
	padding: 0px;
	margin-left: 40px;
	list-style-type: square;
}

#returnback {
	margin-top: 57px;
	margin-left: 200px;
}

.returnbtn {
	display: inline-block;
	font-family: 楷体;
	font-size: 14px;
	border: none;
	border-radius: 15px;
	color: black;
	padding: 3px 35px;
	transition-duration: 0.5s;
}

.returnbtn:hover {
	background-color: orange;
	color: white;
	cursor: pointer;
}

#labeldiv {
	height: 40px;
	text-align: center;
}

#view-div {
	margin-left: 410px;
	width: 300px;
	opacity: 0.9;
	text-align: left;
	background-color: gray;
}

.sessinp {
	padding: 0px;
	border: 0px;
	background: none;
}